html, body, #react-root, #geeky-rocks, #geeky-rocks-container, #geeky-projects {
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(5, 9, 38, 0.95)
}

span.geeky-text, p.geeky-text {
  font-family: 'Source Code Pro', monospace;
}

.project-card {
  height: 17.3rem;
}

.geeky-title {
  color: #939253;
}

a.geeky-card, a.geeky-card:visited, a.geeky-card:active {
  text-decoration: none;
  color: #000;
}

a.geeky-card:hover, div.geeky-card:hover {
  background: #939253;
}

.geeky-link {
  color: rgb(49, 142, 201)
}
