#ioplease, #ioplease-index, #ioplease-submit, #ioplease-stuff {
  height: 100%;
  min-height: 100%;
  font-family: 'Anonymous Pro', monospace;
  position: relative;
  background-color: rgb(255, 255, 255)
}

.ioplease-banner-full {
  position: fixed;
  background-image: url('/hands-full.jpg');
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ioplease-banner {
  position: fixed;
  background-image: url('/hands.jpg');
  width: 100%;
  height: 8rem;
  padding-top: 0.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1000;
}

.ioplease-title, .ioplease-hint {
  color: #fff;
}

div.ioplease-search-box, #iothing-autocomplete {
  background-color: rgba(137, 121, 112, 0.4);
}

#iothing-autocomplete {
  color: rgba(255, 255, 255, 1);
}

#content {
  padding-top: 8rem;
  z-index: 100;
  min-height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255)
}

.ioplease-stuff-img {
  height: 7rem;
  max-height: 7rem;
}

a.stuff-card, a.stuff-card:hover, a.stuff-card:visited, a.stuff-card:active {
  text-decoration: none;
  color: #000;
}

.ioplease-count {
  color: #fff;
}

.algolia-icon {
  height: 1.5rem;
}

#ioplease-stuff {
  z-index: 100;
  min-height: 100%;
  background-color: rgb(255, 255, 255)
}

#ioplease-shuffle {
  cursor: pointer;
}
