#mexEco {
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-family: 'Judson', serif;
  background-color: rgb(255, 255, 255)
}

#mexEco-navbar {
  margin-bottom: 0 !important;
  background: rgba(31, 31, 31, 0.8)
}

ul.nav > li.nav-item > a.nav-link {
  padding-top: 0.9rem
}

#mexEco-index-title {
  padding: 0 !important;
  margin: 0 !important;
  background-image: url('/mexEco/plants.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mexEco-index-title-img {
  min-width: 100%;
}

#mexEco-contact-title {
  padding: 0 !important;
  margin: 0 !important;
  background-image: url('/mexEco/contact-plants.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mexEco-contact-contact {
  background: rgba(95, 170, 0, 1);
  color: rgb(255, 255, 255);
}


.mapboxgl-map {
  width: 100%;
  min-width: 100%;
  height: 100%;
}

#map-container {
  background-color: rgba(255, 255, 255, 0)
}

#map-container {
  margin-left: 0;
  padding-left: 0;
}

/*div.mapboxgl-ctrl-bottom-right, div.mapboxgl-control-container, div.mapboxgl-ctrl-group, div.mapbox-gl-draw_ctrl-draw-btn {
  z-index: 99999999;
}

div.mapboxgl-canvas-container.mapboxgl-interactive {
  z-index: 1;
}*/

#mexEco-draw {
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 999;
}
